<h2 class="catalogo-titulo">Catálogo de Productos</h2>
<p class="catalogo-descripcion">Explora nuestra colección de zapatos para toda la familia.</p>

<div class="catalogo">
    <div class="item">
        <img src="/images/catalogo1.jpg" alt="Zapato 1">
        <h3>Zapato Deportivos</h3>
        <p>Zapato de alta calidad, ideal para deporte.</p>
    </div>
    <div class="item">
        <img src="/images/catalogo2.jpg" alt="Zapato 2">
        <h3>Zapato Casual</h3>
        <p>Estilo casual perfecto para el día a día.</p>
    </div>
</div>
